<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="cardGroup" [editable]="isEditable">
        <form [formGroup]="cardGroup" (submit)="fetchApiCards()">
            <ng-template matStepLabel>Search for a card</ng-template>
            <mat-form-field appearance="outline">
                <mat-label>Card Name or Issuer</mat-label>
                <input style="margin:1%" matInput formControlName="cardSearchCtrl" [(ngModel)]="chanceSearch"
                    placeholder="e.g. Chase Freedom" required>
            </mat-form-field>
            <div>
                <button class="btn btn-outline-dark" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="selectorGroup" [editable]="isEditable">
        <form (submit)="createDataArray()" [formGroup]="selectorGroup">
            <ng-template matStepLabel>Select entry</ng-template>
            <h5>Results for {{chanceSearch}}</h5>

            <mat-form-field appearance="outline">
            <table>
                <tbody>
                    <tr *ngFor="let apicard of apiCards | nonzeroEntry: apiCards" >
                <mat-radio-group formControlName="selectedEntry" [(ngModel)]="selectedCard"
                    [ngModelOptions]="{standalone: true}">
                  <mat-radio-button [value]="apicard">{{apicard}}</mat-radio-button>
                </mat-radio-group>
                </tr>
            </tbody>
            </table>
            </mat-form-field>
            <div>
                <button style="margin:1%" class="btn btn-outline-dark" (click)="stepper.reset(); resetGraphData()">Back</button>
                <button class="btn btn-outline-dark" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="userDataGroup" [editable]="isEditable">
        <form (submit)="sendUserData()" [formGroup]="userDataGroup">
            <ng-template matStepLabel>Enter your basic info</ng-template>
            <mat-form-field appearance="outline">
                <mat-label>Credit Score</mat-label>
                <input type="tel" min="300" max="850" style="margin:1%" matInput formControlName="scoreCtrl" placeholder="300-850" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Age of your oldest credit account in years</mat-label>
                <input type="number" style="margin:1%" matInput formControlName="yrCtrl" placeholder="e.g. 1" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Age of your oldest credit account in months</mat-label>
                <input type="number" style="margin:1%" matInput formControlName="moCtrl" placeholder="<= 11" required>
            </mat-form-field>
            <div>
                <button style="margin:1%" class="btn btn-outline-dark" (click)="stepper.reset(); resetGraphData()">Start over</button>
                <button class="btn btn-outline-dark" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Results</ng-template>
        <div>
            <plotly-plot [data]="graph.data" [layout]="graph.layout" [config]="graph.config">
            </plotly-plot>
            <div style="text-align: center;">
            <h4>Approval statistics from our database</h4>
            <p>Average credit score: <b>{{avgScore}}</b>
                <br>
                Average oldest account age: <b>{{avgAgeYrs}} years and {{avgAgeMos}} months</b>
                <br>
                <br>
                25th percentile credit score (1st quartile): <b>{{q1Score}}</b><br>
                Median credit score: <b>{{medianScore}}</b> <br>
                75th percentile credit score (3rd quartile): <b>{{q3Score}}</b><br>
                <br>
                25th percentile oldest account age (1st quartile): <b>{{q1AcctYrs}} years and {{q1AcctMos}} months</b><br>
                Median oldest account age: <b>{{medianAcctYrs}} years and {{medianAcctMos}} months</b> <br>
                75th percentile oldest account age (3rd quartile): <b>{{q3AcctYrs}} years and {{q3AcctMos}} months</b><br>
            </p>
        </div>
            <button class="btn btn-outline-dark" mat-button (click)="stepper.reset(); resetGraphData()">Start over</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>
