<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="cardGroup" [editable]="isEditable">
        <form [formGroup]="cardGroup" (submit)="fetchApiCards()">
            <ng-template matStepLabel>Search for a card</ng-template>
            <mat-form-field>
                <mat-label>Card Name or Issuer</mat-label>
                <input style="margin:1%" matInput formControlName="cardSearchCtrl" [(ngModel)]="chanceSearch"
                    placeholder="e.g. Chase Freedom" required>
            </mat-form-field>
            <div>
                <button class="btn btn-outline-dark" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="selectorGroup" [editable]="isEditable">
        <form [formGroup]="selectorGroup">
            <ng-template matStepLabel>Select entry</ng-template>
            <mat-form-field>
            <table>
                <tbody>
                    <tr *ngFor="let apicard of apiCards" >
                <mat-radio-group formControlName="selectedEntry" [(ngModel)]="selectedCard"
                    [ngModelOptions]="{standalone: true}">
                  <mat-radio-button [value]="apicard">{{apicard}}</mat-radio-button>
                </mat-radio-group>
                </tr>
            </tbody>
            </table>
            </mat-form-field>
            <div>
                <button class="btn btn-outline-dark" mat-button matStepperPrevious>Back</button>
                <button class="btn btn-outline-dark" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
        <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Enter your basic info</ng-template>
            <mat-form-field>
                <mat-label>Credit Score</mat-label>
                <input style="margin:1%" matInput formControlName="thirdCtrl" placeholder="800" required>
            </mat-form-field>
            <div>
                <button class="btn btn-outline-dark" mat-button matStepperPrevious>Back</button>
                <button class="btn btn-outline-dark" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>