<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="cardGroup" [editable]="isEditable">
        <form [formGroup]="cardGroup" (submit)="fetchApiCards()">
            <ng-template matStepLabel>Search for a card</ng-template>
            <mat-form-field appearance="outline">
                <mat-label>Card Name or Issuer</mat-label>
                <input style="margin:1%" matInput formControlName="cardSearchCtrl" [(ngModel)]="chanceSearch"
                    placeholder="e.g. Chase Freedom" required>
            </mat-form-field>
            <div>
                <button class="btn btn-outline-dark" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="selectorGroup" [editable]="isEditable">
        <form (submit)="createDataArray()" [formGroup]="selectorGroup">
            <ng-template matStepLabel>Select entry</ng-template>
            <mat-form-field appearance="outline">
            <table>
                <tbody>
                    <tr *ngFor="let apicard of apiCards | nonzeroEntry: apiCards" >
                <mat-radio-group formControlName="selectedEntry" [(ngModel)]="selectedCard"
                    [ngModelOptions]="{standalone: true}">
                  <mat-radio-button [value]="apicard">{{apicard}}</mat-radio-button>
                </mat-radio-group>
                </tr>
            </tbody>
            </table>
            </mat-form-field>
            <div>
                <button class="btn btn-outline-dark" mat-button matStepperPrevious>Back</button>
                <button class="btn btn-outline-dark" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="userDataGroup" [editable]="isEditable">
        <form [formGroup]="userDataGroup">
            <ng-template matStepLabel>Enter your basic info</ng-template>
            <mat-form-field appearance="outline">
                <mat-label>Credit Score</mat-label>
                <input type="tel" min="300" max="850" style="margin:1%" matInput formControlName="scoreCtrl" placeholder="300-850" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Age of your oldest credit account in years</mat-label>
                <input type="number" style="margin:1%" matInput formControlName="yrCtrl" placeholder="e.g. 1" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Age of your oldest credit account in months</mat-label>
                <input type="number" style="margin:1%" matInput formControlName="moCtrl" placeholder="<= 11" required>
            </mat-form-field>
            <div>
                <button class="btn btn-outline-dark" mat-button matStepperPrevious>Back</button>
                <button class="btn btn-outline-dark" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Results</ng-template>
        <app-user-chart></app-user-chart>
        <div>
            <button class="btn btn-outline-dark" mat-button matStepperPrevious>Back</button>
            <button class="btn btn-outline-dark" mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>